global-exclude */spa.c
global-exclude */spa.h
prune pvlib/spa_c_files/build

prune docs/sphinx/build
prune docs/sphinx/source/generated
# all doc figures created by doc build
prune docs/sphinx/source/savefig

global-exclude __pycache__
global-exclude *.pyc
global-exclude *.pyo
global-exclude *.pyd
global-exclude *.so
global-exclude *~
global-exclude .DS_Store
global-exclude .git*
global-exclude \#*
global-exclude .ipynb_checkpoints

prune .coveragerc
prune .lgtm.yml
prune .stickler.yml
prune codecov.yml
prune readthedocs.yml

prune paper
prune .github
prune CODE_OF_CONDUCT.md
prune benchmarks
prune ci
