include AUTHORS.md
include LICENSE
include README.md

include versioneer.py
include pvlib/_version.py

recursive-include pvlib/data *

recursive-exclude * __pycache__
recursive-exclude * *.py[co]

recursive-include docs *
prune docs/sphinx/build
prune docs/sphinx/source/generated
# all doc figures created by doc build
prune docs/sphinx/source/savefig

global-exclude .DS_Store
global-exclude .ipynb_checkpoints/*